@import './add.css';

* {
  padding: 0;
  margin: 0;
}

#app {
  color: red;
}

.red {
  display: flex;
}

@media screen {
  div {
    width: 200px;
    height: 200px;
    min-height: 100px;

    /* transform: translateX(100%); */

    /* background-image: url('../img/cloud.jpg'); */
    background-image: url('@/cloud.jpg');
  }
}
